.jumbotron {
  font-family: 'Modak', cursive;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 450px;
  width: 100%;
  
}
.jumbotron h1 {
  font-size: 90px;
  margin: auto;
  padding: auto;
  margin-top: 50px;
  color: white;
}
#about h2, p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#about {
  margin-bottom: 20px;
}
.row#info {
  font-family: 'Raleway', sans-serif;
}
.elect {
  color: black;
}
