.container {
    margin-bottom: 20px;
}
body {
    margin: 0;
    padding: 0;
}
.jumbotron {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}
.jumbotron h1{
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
    color: black;
}
.jumbotron h4 {
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: black;
}
.info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.card {
    margin-top: 20px;
    border-color: blue;
    border-width: 3px;
}
.sub-heading {
    margin-top: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font: bold;
    padding-bottom: 10px;
}
.btn {
    margin-bottom: 5px;
}
#election {
    width: 100%;
}
#referendum {
    width: 100%;
}
.voteOn {
    font-family: 'Raleway', sans-serif;
}
.card#sidenav {
    border-color: black;
    border-width: 2px;
    padding: 5px;
}
.chooseCounty {
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;
}
button#submit-county {
    margin-top: 5px;
}
.card#query {
    border-color: black;
    border-width: 2px;
    padding: 5px;
    padding-bottom: 250px;
}
.votingPage {
    display: none;
    text-align: center;
    margin: 3%;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;
}
