.container {
    margin-bottom: 20px;
}
body {
    margin: 0;
    padding: 0;
}
.jumbotron {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}
.jumbotron h1{
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
    color: black;
}
.jumbotron h4 {
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: black;
}
.info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.card {
    margin-top: 20px;
    border-color: blue;
    border-width: 3px;
}
.sub-heading {
    margin-top: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font: bold;
    padding-bottom: 10px;
}
.btn {
    margin-bottom: 5px;
}
.details {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#election {
    width: 100%;
}
#referendum {
    width: 100%;
}
.voteOn {
    font-family: 'Raleway', sans-serif;
}
.card#sidenav {
    border-color: black;
    border-width: 2px;
    padding: 5px;
}
.chooseCounty {
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;
}
button#submit-county {
    margin-top: 5px;
}
.card#query {
    border-color: black;
    border-width: 2px;
    padding: 5px;
    padding-bottom: 20px;
}
.president {
    display: none;
    text-align: center;
    margin: 3%;
    margin-top: 55px;
    font-family: 'Raleway', sans-serif;
}
.governor1, .governor2 {
    display: none;
    text-align: center; 
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.governor2 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.table {
    display: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.yourLocation {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mp1 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mp2 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.yourLocation1 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mp3 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mp4 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mca1 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.mca2 {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
.btnNairobi{
    display: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.btnKiambu{
    display: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.textMsg {
    display: none;
    text-align: center;
    margin-top: auto;
    font-family: 'Raleway', sans-serif;
}
.democracy {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    margin-top: 25px;
    height: 250px;
}
.ref1 {
    display: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.ref2 {
    display: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

